{% extends "wagtailadmin/base.html" %}
{% block titletag %} All Cars{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
     table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


.button-update {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Rides" icon="date" %}

    <div class="nice-padding">
      <a class="button button-update" href="{% url 'cars:add_cars' %}">Add Car</a>

       
      
       <table>
        <caption>All Car List</caption>
        <thead>
          <tr>
            <th scope="col">Car Name</th>
            <th scope="col">Registration</th>
            <th scope="col">Transmission</th>
            <th scope="col">Seats</th>
            <th scope="col">Luggage</th>
            <th scope="col">Fuel</th>
            <th scope="col">Available</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for car in cars %}
          <tr>
            <td data-label="Car Name">{{ car.car_name }}</td>
            <td data-label="Mileage">{{ car.car_mileage }}</td>
            <td data-label="Transmission">{{ car.car_transmission }}</td>
            <td data-label="Seats">{{ car.car_seats }}</td>
            <td data-label="Luggage">{{ car.car_luggage }}</td>
            <td data-label="Fuel">{{ car.car_fuel }}</td>
            <td data-label="Available">{{ car.available_now }}</td>
            <td data-label="Action"><a class="button button-update" href="{% url 'cars:details_car' car.id %}">Details</a></td>
            
           
          </tr>
        
          {% endfor %}
         
        </tbody>
      </table>
    </div>
{% endblock %}