{% extends "wagtailadmin/base.html" %}
{% block titletag %} Details Car{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
     
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Rides" icon="date" %}

    <div class="nice-padding">
       <p>Details</p>
       <div class="container">
        <div class="car-details">
          <h2>{{ car.car_name }}</h2>
          <div class="row">
            <div class="col-md-6">
              <img src="{{ car.car_images.url }}" alt="{{ car.car_name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
              <p>{{ car.car_description }}</p>
              <ul>
                <li><strong>Mileage:</strong> {{ car.car_mileage }}</li>
                <li><strong>Transmission:</strong> {{ car.get_car_transmission_display }}</li>
                <li><strong>Seats:</strong> {{ car.get_car_seats_display }}</li>
                <li><strong>Luggage:</strong> {{ car.get_car_luggage_display }}</li>
                <li><strong>Fuel:</strong> {{ car.get_car_fuel_display }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}