{% extends "wagtailadmin/base.html" %}
{% block titletag %} Details Car{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
.button-delete {
  background-color: #f44336; 
  color: black; 
  border: 2px solid #f44336;
}
.button-update {
  background-color: #e7e7e7; 
  color: black; 
  border: 2px solid #e7e7e7;
}
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Rides" icon="date" %}

    <div class="nice-padding">
       <p>Details</p>
       <div class="container">
        <div class="car-details">
          <h2>{{ car.car_name }}</h2>
          <div class="row">
            <div class="col-md-6">
              <img src="{{ car.car_images.url }}" alt="{{ car.car_name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
              <p>{{ car.car_description }}</p>
              <ul>
                <li><strong>Mileage:</strong> {{ car.car_mileage }}</li>
                <li><strong>Transmission:</strong> {{ car.car_transmission }}</li>
                <li><strong>Seats:</strong> {{ car.car_seats }}</li>
                <li><strong>Luggage:</strong> {{ car.car_luggage }}</li>
                <li><strong>Fuel:</strong> {{ car.car_fuel}}</li>
              </ul>
            </div>
          </div>
          <a class="button button-update" href="{% url 'cars:update_car' car.id %}">Update</a> 
          <a class="button button-delete" href="{% url 'cars:remove_car' car.id %}">Delete</a> 
        </div>
      </div>
    </div>
    
{% endblock %}