{% extends "wagtailadmin/base.html" %}
{% block titletag %} Add Price{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
     
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Rides" icon="date" %}

    <div class="nice-padding">
        <h2>Update Pricing</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Update Pricing</button>
        </form>
    </div>
{% endblock %}